body {
    font-family: Lato, sans-sherif;
    color: #291f1a;
    font-weight: 300;
}

/*nawigacja*/

.navMain {
    background: #ffffff;
    width: 100%;
    position: fixed;
    height: auto;
    z-index: 99;

}

ul {
    float: right;
}

li {

    display: block;
    float: right;
    list-style-type: none;

}

.nav-main-a {

    color: #1ac056;
    text-align: center;
    padding: 14px 16px;
    list-style-type: none;
    text-decoration: none;


}

li:hover {
    background-color: #291f1a;
}


/*napis na photo*/

.header {
    background-image: url(img/header-background.jpg);
    height: 100vh;
    background-size: cover;
    position: relative;
}

.mainHederContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;

}

.colorSurname {
    color: #1ac056;

}

/*sekcja o mnie*/


#about {
    text-align: center;
    padding: 0 80px 100px;
    width: 100%;
    background-color: #f9fcfe;
}

.page {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0;
    width: 100%;
    float: middle;
}

.myimg {
    height: 350px;
    border: 15px solid white;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

h2 {
    font-size: 30px;
    font-weight: 300;
    margin-top: 60px;
    margin-bottom: 35px;

}

/*zakładka umiejetności wraz z 4 ikonami*/

#skills {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 0 80px 100px;
    width: 100%;
    background-color: #f9fcfe;
}

#skills_icons {

    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 0 120px ;
    width: 100%;
    background-color: #f9fcfe;
    text-align: center;

}


