body {
    font-family: Lato, sans-sherif;
    color: #291f1a;
    font-weight: 300;
}

/*nawigacja*/

.navMain {
    background: #ffffff;
    width: 100%;
    position: fixed;
    height: auto;
    z-index: 99;

}

ul {
    float: right;
}

li {

    display: block;
    float: right;
    list-style-type: none;

}

.nav-main-a {

    color: #1ac056;
    text-align: center;
    padding: 14px 16px;
    list-style-type: none;
    text-decoration: none;


}

li:hover {
    background-color: #291f1a;
}


/*napis na photo*/

.header {
    background-image: url(img/header-background.jpg);
    height: 100vh;
    background-size: cover;
    position: relative;
}

.mainHederContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;

}

.colorSurname {
    color: #1ac056;

}

/*sekcja o mnie*/


#about {
    text-align: center;
    padding: 0 80px 20px;
    width: 100%;
    background-color: #f9fcfe;
}

.page {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0;
    width: 100%;
    float: middle;
}

.myimg {
    height: 350px;
    border: 15px solid white;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

h2 {
    font-size: 30px;
    font-weight: 300;
    margin-top: 60px;
    margin-bottom: 35px;

}

/*zakładka umiejetności wraz z 4 ikonami*/

#skills {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 0 80px 50px;
    width: 100%;
    background-color: #f9fcfe;
}

#skills_icons {

    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 0 120px;
    width: 100%;
    background-color: #f9fcfe;
    text-align: center;

}

/*footer - address, icons, contact form*/
.contact {
    display: grid;
    grid-template-columns: auto auto;
    float: left;
    overflow: hidden;
    background-size: cover;
    background: #213b50;
    color: #fff;
}

/*<div class="container contact-data"> address details and social media icons*/

.contact-data h2 {
    text-align: left;
    font-size: 38px;
}

.contact-data address {

    font-style: normal;
    line-height: 25px;
    margin: 72px 0;
}

.e-mailaddress {

    color: #1ac056;
}



#contact-social-icons {

    display: inline-block;
    height: 38px;
    width: 38px;
    margin-right: 30px;
    text-align: center;
    line-height: 38px;
    border: 1px solid #fff;
    font-size: 22px;

}

i:hover {
    background-color: #fff;
    color: #213b50;
}

/*contact form*/

.contact-form {

    margin-top: 100px;
}

.contact-form-text {
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: 0 solid #2b4a64;
    background: #2b4a64;
}

input[type=submit] {
    width: auto;
    padding: 15px 30px;
    float: right;
    text-transform: uppercase;
    border: 1px solid #1ac056;
    background: #1ac056;
    color: #fff;
    font-weight: 600;
}

input[type=submit]:hover {
    background-color: #fff;
    color: #1ac056;
}
